<form class="{{ cssClass }} myk-{{ actor.type }} flexcol" autocomplete="off">
	<header class="sheet-header">
		<img class="profile-img" src="{{ actor.img }}" data-edit="img" title="{{ actor.name }}" height="100" width="100"/>
		<div class="header-fields">
			<h1 class="charname"><input name="name" type="text" value="{{ actor.name }}" placeholder="{{ localize 'MYK.Name' }}"/></h1>
			<div class="abilities grid grid-4col">
				<div>{{ localize "MYK.Wit" }}</div>
				<div><input type="text" name="data.wit" value="{{ data.wit }}" data-dtype="Number"/></div>
				<div>{{ localize "MYK.HP" }}</div>
				<div class="flexrow"><input type="text" name="data.hp" value="{{ data.hp }}" data-dtype="Number"/>{{{ localize "MYK.slash_separator" }}}<span>{{ numberFormat data.hp_max }}</span></div>
				<div>{{ localize "MYK.Charisma" }}</div>
				<div><input type="text" name="data.charisma" value="{{ data.charisma }}" data-dtype="Number"/></div>
				<div>{{ localize "MYK.Capacity" }}</div>
				<div><span>{{ numberFormat data.capacity }}</span></div>
				<div>{{ localize "MYK.Quest" }}</div>
				<div><input type="text" name="data.quest" value="{{ data.quest }}" data-dtype="Number"/></div>
				<div>{{ localize "MYK.Defense" }}</div>
				<div><span>{{ numberFormat data.defense }}</span></div>
				<div>{{ localize "MYK.Warfare" }}</div>
				<div><input type="text" name="data.warfare" value="{{ data.warfare }}" data-dtype="Number"/></div>
				<div>{{ localize "MYK.Followers" }}</div>
				<div class="flexrow"><input type="text" name="data.followers" value="{{ data.followers }}" data-dtype="Number"/>{{{ localize "MYK.slash_separator" }}}<span>{{ numberFormat data.followers_max }}</span></div>
			</div>
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		{{!-- Default tab is specified in actor-sheet.mjs --}}
		<a class="item" data-tab="features">{{ localize "MYK.Features" }}</a>
		<a class="item" data-tab="description">{{ localize "MYK.Description" }}</a>
		<a class="item" data-tab="items">{{ localize "MYK.Items" }}</a>
		<a class="item" data-tab="spells">{{ localize "MYK.Spells" }}</a>
		<a class="item" data-tab="effects">{{ localize "MYK.Effects" }}</a>
	</nav>

	<section class="sheet-body">
		<div class="tab description" data-group="primary" data-tab="description">
			{{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
			{{editor content=data.description target="data.description" rollData=rollData button=true owner=owner editable=editable}}
		</div>
	</section>
</form>